export(aov_perm_test)
export(boxplots_by_perm)
export(intertidal_yield_fig)
export(make_qPCR_plots)
export(make_sed_yield_boxplots)
export(make_sw_yield_boxplots)
export(plot_cell_vs_fish)
export(read_data)
export(reproduce_research)
export(sed_bac_and_arc_v_depth)
export(sed_percent_arc_v_depth)
export(significance_labeller)
export(single_sw_yield_boxplot)
export(sw_depth_profiles)
export(yield_by_core)
